# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
ENV/

# OS junk
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env
*.env

